/***************for phones and small devices**********************************************/

/******************home page*****************/
/*most phones are 360 width*/

body{
    background-color: #2d2d2d;
    color: white;
    font-family: 'Cousine', monospace;
    
}

.noShowSmall{
    display: none;
}
.noPadding{
    padding: 0;
}

/*Navbar Main*/

.navbar-fixed-top {
    background-color: #ffffff;
    border-color: none;
    position: relative;
    position: fixed;
    color: black;
    text-align: center;
}

.navbar{
    margin-bottom: 0;
}

.navbar-default{
    background-color: #ffffff;
    border: none;
}


.container-fluid{
    padding: 0;
}


#nav ul {
    display: inline-block;
    list-style-type: none;
}

.navbar-header {
    background-color: #ffffff;
    float: left;
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

.container-fluid>.navbar-header{
    margin: 0;
}
.navbar-brand {
    float:none;
    
}

#wrapper {
    width: 350px;
    margin: 0 auto;
    padding-left: 20px;
}

#logo{
    height: 80px;
    margin-right: 5px;
    margin-left: -20px;
    float: left;
    z-index: 1;

}


#navTitle{
    margin-right: 40px;
    font-size: 35px;
    text-align: left
}

.inline{
    margin-bottom: 0;
    line-height: 1;
}





.newLine{
    display: block;
}

.blue{
    color: #5CAAE1;
}

/*buttons*/
.navbar-nav a{
    background-color: #ffffff;
    height: 50px;
    text-align: center;
    font-size: 16px;
    border-top: solid 1px #5CAAE1;
}
.navbar-nav>li>a{
    padding: 15px;
}

.nav>.active>a{
    margin: 0;
}

/*buttons hovered*/
.nav > li > a:hover {
    background-color: #ffffff;  
    border-bottom: solid 4px #5CAAE1;
    border-top: solid 4px #5CAAE1;
    font-size: 18px;
}
 .nav>li>a:hover {
    color: #5CAAE1;
}


/*buttons when clicked on*/
.nav>.active>a, .nav>.active>a:focus{
    box-shadow: none;
    margin-top: 0px;
    background-color: #ffffff;  
    color: #5CAAE1;
    border-top: solid 3px #5CAAE1;
    border-bottom: solid 2px #5CAAE1;
    font-size: 20px;
}

/*small device button*/
.navbar-toggle{
    background-color: #5CAAE1;
    margin-top: 35px;
    margin-right: 5px;
    z-index: 1;
}


/*main content*/

#mainContainer{
    margin-top: 120px;
    overflow-x: hidden;
}

.icon-bar{
    background-color: white;
}


ul.lightning{
    list-style-image: url(images/glyphs/flashBulletB.png);
    
    
}








/*******************Home page************************/


/*jumbotron*/
.jumbotron{
    background-image: url(/images/bulb2Edit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 0;
    color: black;
    text-align: center;
}

.jumbotron h1{
    border-bottom: solid 1px #0c0c0c
}
.jumbotron p{
    margin-top: 30px;
    
}

.jumbotron a{
    margin-top: 10px;
    
}

.jumbotron hr{
    border-top-color: #000000;
    display: none;
}


.homeBox{
    background-color: #5CAAE1;
    text-align: center;
    font-size: 15px;
    color: black;
    
}
.homeBox h1{
    color: #ededed;
    
}



#homeIntro{
    padding: 40px 0;
    font-size: 20px;
}

#homeIntro h1{
    font-size: 30px;
    text-align: center;
}


#homeIntro p{
    padding-left: 20px;
    text-align: center;
    margin-bottom: 15px;
}




#homeBox2{
    background-color: #ffffff;
    text-align: center;
    font-size: 15px;
    color: black;
    padding: 30px 30px 0 30px;
}



#homeBox3{
    text-align: left; 
    overflow-x: hidden;
}

#homeBox3 ul{
    padding-left: 70px;
    padding-right: 10px;
    
    
}

.noBullet{
    list-style: none;
    margin-left: -50px;
    
}

#imageWrapper1{
    background-image: url(images/electrician1.jpg);
    background-size: cover;
    background-position: center;
    height: 240px;
    display: none;
    
}

#imageWrapper2{
    background-image: url(images/electrician1.jpg);
    background-size: cover;
    background-position: center;
    height: 240px;
    
}

.homeServices{
    margin: 20px;
    height: 150px;
}

.homeGlyph{
    height: 70px; 
}

/*******************testimonail page************************/

.title{
    text-align: center;
    font-size: 40px;
    color: #5CAAE1;
    border-bottom: solid 4px #5CAAE1;
    margin-top: -20px;
    margin-bottom: 20px;
}


#testimonials{
    background-color: #353535;
    margin-bottom: 40px;
}

hr.style13 { 
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #5CAAE1 inset;
    color: #5CAAE1;
}


.quoteHeader{
    text-align: center;
    font-size: 20px;
    color: #5CAAE1;
    
}

.quote{
    text-align: center;
    font-size: 13px;
    padding: 0 20px;
}

.person{
    text-align: center;
    font-size: 15px;
    color: #a3a3a3
}


/*******************Contact page************************/

#contactTitle{
    text-align: center;
    margin-top: -10px;
}

.callContainer{
    text-align: center;
}
.callContainer img{
}

.callBox{
    text-align: center;
    margin: 50px 0;
}

.formContainer{
    margin-top: 40px;
    margin-bottom: 50px;
}

#phoneIcon{
    display: none;
}

.formBox{
    text-align: center;
}


/*form*/
#name{
/*    float: left;*/
    margin-right: 70px;
    width: 100%;
}

#email{
/*    float: left;*/
    margin-right: 70px;
    width: 100%;
}

#mobile{
/*    float: left;*/
    margin-right: 70px;
    width: 100%;
}

#postCode{
/*    float: left;*/
    margin-right: 70px;
    width: 100%;
}

.box{
    width: 437px;
}

#message{
    text-align: left;
    border-radius: 5px;
}

.glyphicon{
    position: static;
}



.red{
    color:red;
    }




/*******************Services page************************/
#intro{
    height: 200px;
    margin: 80px 0;
    background-color: #353535;
    text-align: center;
}

#services{
/*     height: 800px;*/
    background-color: #353535;
    border: 1px black solid;
}

#intro{
    padding: 20px;
}

.serviceContainer{
    height: 200px;
    padding: 40px 100px;
    font-size: 15px;
}

#services h2{
    margin-bottom: 20px;
}

#serviceImage1{
    max-height: 200px;
    margin-bottom: 30px;
}


/*******Footer**************/

.footer{
    background-color: #232323;
    text-align: center;
    height: 480px;
    padding-top: 20px;
    padding-left 0px;
    padding-right: 0px;
/*    margin-top: 100px;*/
    
}



.logo{
    height: 120px;
    margin: 0 10px;
    margin-bottom: 10px;
}
.footerNav{
    margin-right: 10px;
}

.footerNav ul{
    padding-left: 0;
}
.footerNav ul li{
    list-style-type: none;
    display: inline;
    border-right: 1px solid #7a7a7a;
    padding: 3px 5px;
    padding-right: 10px;
    font-size: 18px;
    
}

.footerNav ul li:hover{
    cursor: pointer;
}


#buisnessLogos{
    margin: 15px
}

#iconFooter{
    font-size: 11px;
    margin: 10px 0;
}

.credit h5{
    font-size: 15px;
}

#noBorderRight{
    border-right: none;
}



/********************for tablets**********************************************************/
/*earliest tabelt size is 600px*/

/*make the collpase bar appear ealier than normal*/
@media only screen and (min-width: 600px) {
    
.navbar-collapse.collapse {
    display:block;
}
.navbar-collapse.collapse.in {
    display: none;
}
.navbar-header .collapse, .navbar-toggle {
    display:none;
}
.navbar-header {
    float:none;
}
.navbar-nav>li {
        float: left;
}

.navbar-nav{
    margin-top: 2px;
}
    
 .navbar .navbar-nav {
    display: inline-block;
    float: none;
}
    
/*    end of collpase section     */
    
.navbar-fixed-top {
height: 160px;
}
    
.navbar-header{
    padding-top: 10px;;
}

#wrapper {
    width: 650px;
    margin: 0 auto;
    padding-left: 20px;
}

#logo{
    height: 80px;
    margin-top: -30px;
    margin-left: -10px;
}


#navTitle{
    font-size: 34px;
}   

    
    
 /******** NavBar Buttons********/
    
.navbar-nav a{
    width: 160px;
    font-size: 18px;
    border: none;
    border-right: 1px solid #5CAAE1;
}
    
#noBorderRight{
    border-right: 0px solid #5CAAE1;
}
#noBorderLeft{
    border-left: 0px solid #5CAAE1;
}

.navbar-nav>li>a {
    color: #5CAAE1;
}
 
    
/**buttons hovered*/
.nav > li > a:hover {
    box-shadow: none;
    font-size: 19px;
    background-color: #ffffff;  
    border-bottom: solid 4px #5CAAE1;
    border-left: solid 1px #5CAAE1;
    border-right: solid 1px #5CAAE1;
    border-top: none;

}


/*buttons when clicked on*/
.nav>.active>a, .nav>.active>a:focus{
    box-shadow: none;
    margin-top: 0px;
    background-color: #ffffff;  
    color: #5CAAE1;
    border-bottom: solid 3px #5CAAE1;
    border-right: solid 1px #5CAAE1;
    border-top: none;
    
}
    
/*main content*/

#mainContainer{
    margin-top: 155px;
}    
 
    
  
/*jumbotron*/  
    
    
#farRight{
        margin-right: 0;
}
    
.footer{ 
    height: 285px;
}   
    
    
    
}

    /********************for Desktops**********************************************************/
@media only screen and (min-width: 1143px) {
    .noShowSmall{
        display: block;
    }   
    /*Navbar*/

.navbar-fixed-top {
padding: 15px;
}


.container-fluid{
    padding: 0;
}


#wrapper {
    width: 1200px;
}

#logo{
    height: 80px;
    margin-right: 5px;
    margin-left: -20px;
    float: left;
    z-index: 1;

}


#navTitle{
    margin-right: 40px;
    font-size: 45px;
    text-align: left;
}



#number{
    position: absolute;
    right: 0;
    margin-top: -40px;
    margin-right: 25px;
    margin-bottom: 20px;
    font-size: 25px;
    display: block;
    
}

#blueDot{
    height: 5px;
    width: 5px;
    border-radius: 90px;
    background-color: #5CAAE1;
    position: absolute;
    right:0;
    margin-top: -20px;
    margin-right: 210px;
    display: block;
    
}


/*buttons*/
.navbar-collapse.collapse{
    margin-top: -60px;
}
    
.navbar-nav a{
    background-color: #ffffff;
    height: 50px;
    text-align: center;
    font-size: 16px;
    border-top: solid 1px #5CAAE1;
}
.navbar-nav>li>a{
/*    margin-top: -40px;*/
    padding: 15px;
    width: 250px;
}

.nav>.active>a{
    margin: 0;
}

/*buttons hovered*/
.nav > li > a:hover {
    background-color: #ffffff;  
    border-bottom: solid 4px #5CAAE1;
    border-top: solid 4px #5CAAE1;
    font-size: 18px;
}
 .nav>li>a:hover {
    color: #5CAAE1;
}


/*buttons when clicked on*/
.nav>.active>a, .nav>.active>a:focus{
    box-shadow: none;
    margin-top: 0px;
    background-color: #ffffff;  
    color: #5CAAE1;
    border-top: solid 3px #5CAAE1;
    border-bottom: solid 2px #5CAAE1;
    font-size: 20px;
}

/*small device button*/
.navbar-toggle{
    background-color: #5CAAE1;
    margin-top: 35px;
    margin-right: 5px;
    z-index: 1;
}


.navbar-collapse.collapse{
    margin-top: -14px;
}  
    
.navbar-nav a{
    width: 160px;
    font-size: 18px;
    border: none;
    border-right: 1px solid #5CAAE1;
}
    
#noBorderRight{
    border-right: 0px solid #5CAAE1;
}
#noBorderLeft{
    border-left: 0px solid #5CAAE1;
}

.navbar-nav>li>a {
    color: #5CAAE1;
}
 
    
/**buttons hovered*/
.nav > li > a:hover {
    box-shadow: none;
    font-size: 19px;
    background-color: #ffffff;  
    border-bottom: solid 4px #5CAAE1;
    border-left: solid 1px #5CAAE1;
    border-right: solid 1px #5CAAE1;
    border-top: none;

}


/*buttons when clicked on*/
.nav>.active>a, .nav>.active>a:focus{
    box-shadow: none;
    margin-top: 0px;
    background-color: #ffffff;  
    color: #5CAAE1;
    border-bottom: solid 3px #5CAAE1;
    border-right: solid 1px #5CAAE1;
    border-top: none;
    
}

/*main content*/

#mainContainer{
    margin-top: 140px;
}
    
    
 /*******************Home page************************/   

.jumbotron{
    height: 520px;
    padding-top: 100px;
    text-align: left
}
    
.jumbotron hr{
    display: block;
}
    
.jumbotron h1{
    font-size: 50px;
    border-bottom: none;
}
    
.jumbotron h2{
    font-size: 35px;
}
    
.jumbotron p{
    margin-top: 50px;
    font-size: 30px;
}

.jumbotron a{
    margin-top: 30px;
}    

#homeIntro{
    padding: 40px 0;
    font-size: 20px;
}

#homeIntro p{
    padding-left: 110px;
    text-align: left;
}


#homeIntro h1{
    font-size: 50px;
    text-align: center;
}    
    
#homeImage{
    height: 450px;
    margin-left: 100px;
    width: 400px;
}
    
.noBullet{
    list-style: none;
} 
    
#imageWrapper1{
    background-image: url(images/electrician1.jpg);
    background-size: cover;
    background-position: center;
    height: 440px;
    display: block;
    
    
}

#imageWrapper2{
    background-image: url(images/electrician1.jpg);
    background-size: cover;
    background-position: center;
    height: 240px;
    display: none;
    
}
    
    /*******************Contact page************************/

#contactTitle{
    text-align: center;
    margin-top: -10px;
}


.callBox{
    margin: 50px 0;
}

.formBox{
    text-align: center;
}
    
    


.glyphicon{
    position: static;
}

.red{
    color:red;
}
    

    
 /*******************Footer************************/   
    

.logo{
    height: 120px;
    margin: 0 30px;
    margin-bottom: 10px;
}
    
    
    
    
    
    
}



