/***************for phones and small devices**********************************************/

/******************home page*****************/

body{
    background-color: #2d2d2d;
    color: white;
}


/*Navbar Main*/

.navbar-fixed-top {
    background-color: #ffffff;
    border-color: none;
    height: 65px;
    position: relative;
    position: fixed;
    color: black;
}



#logo{
    height: 30px;
    margin-top: 5px;
    float: left;
}

.navbar-brand{
    padding: 10px 10px;;
    height: 55px;
}

#number{
    display: none;
}

#blueDot{
    display: none;
}



#title1{
    background-color: white;
    float: left;
    margin-top: 15px;
    font-size: 23px;
    border-bottom: solid 2px #383838;
}

.blue{
    color: #5CAAE1;
}

/*buttons*/
.navbar-nav a{
    background-color: #383838;
    width: auto;
    height: 50px;
    text-align: center;
    font-size: 16px;
    border: 0.5px solid #5CAAE1;
    -webkit-box-shadow: 5px 4px 3px -1px rgba(92, 170, 225,0.75);
    -moz-box-shadow: 5px 4px 3px -1px rgba(92, 170, 225,0.75);
    box-shadow: 5px 4px 3px -1px rgba(92, 170, 225,0.75);
}

.navbar-nav>li>a {
    color: #5CAAE1;
}

.nav>.active>a{
    margin: 0;
}

/*buttons hovered*/
.nav > li > a:hover {
    box-shadow: none;
    background-color: #383838;  
    -webkit-box-shadow: 5px 4px 3px -1px rgba(92, 170, 225,0.75);
    -moz-box-shadow: 5px 4px 3px -1px rgba(92, 170, 225,0.75);
    box-shadow: 5px 4px 3px -1px rgba(92, 170, 225,0.75);
    border: solid 4px #5CAAE1;
}
 .nav>li>a:hover {
    color: #5CAAE1;
}


/*buttons when clicked on*/
.nav>.active>a, .nav>.active>a:focus{
    box-shadow: none;
    margin-top: 0px;
    background-color: #383838;  
    color: #5CAAE1;
    border: solid 4px #5CAAE1;
}
.nav>.active>a{
    margin: 0;
}

/*small device button*/
.navbar-toggle{
    background-color: #383838;
    margin-top: 13px;
    margin-bottom: 0;
}


/*main content*/

#mainContainer{
    margin-top: 100px;
}

.icon-bar{
    background-color: white;
}



/*******************Home page************************/


/*jumbotron*/
.jumbotron{
    background-image: url(images/jumbo%20background%202.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 440px;
    padding-top: 50px;
}

.jumbotron p{
    margin-top: 30px;
}

.jumbotron a{
    margin-top: 30px;
}




/*******************testimonail page************************/

#testimonialTitle{
    text-align: center;
    font-size: 40px;
    color: #5CAAE1;
    border-bottom: solid 4px #5CAAE1;
    margin-top: -20px;
    margin-bottom: 20px;
}


#testimonials{
    background-color: #353535;
}

hr.style13 { 
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #5CAAE1 inset;
    color: #5CAAE1;
}


.quoteHeader{
    text-align: center;
    font-size: 20px;
    color: #5CAAE1;
    
}

.quote{
    text-align: center;
    font-size: 13px;
    padding: 0 20px;
}

.person{
    text-align: center;
    font-size: 15px;
    color: #a3a3a3
}


/*******************Contact page************************/

#contactTitle{
    text-align: center;
    margin-top: -10px;
}


.callBox{
    margin: 50px 0;
}

.formBox{
    text-align: center;
}


/*form*/
#name{
/*    float: left;*/
    margin-right: 70px;
    width: 100%;
}

#email{
/*    float: left;*/
    margin-right: 70px;
    width: 100%;
}

#mobile{
/*    float: left;*/
    margin-right: 70px;
    width: 100%;
}

#postCode{
/*    float: left;*/
    margin-right: 70px;
    width: 100%;
}

.box{
    width: 437px;
}

#message{
    text-align: left;
    border-radius: 5px;
}

.glyphicon{
    position: static;
}

.red{
    color:red;
    }



/********************for tablets**********************************************************/
@media only screen and (min-width: 768px) {

.navbar-header{
    float: none;
}

.container-fluid>.navbar-collapse{
    float: left;
    margin-left: 120px;
}
.navbar-nav{
    margin-top: 2px;
}


.navbar-fixed-top {
height: 170px;
}
    
/*title*/
    
#titleLogo{
    margin-left: 75px;;
}    
    
#logo{
    height: 60px;
    margin-top: 19px;
}


#title1{
    float: left;
    margin-top: 24px;
    font-size: 50px;
}   
    
    
/*number*/
#number{
    margin-right: 20px;
    position: absolute;
    right: 0;
    margin-top: 0px;
    margin-right: 12px;
    font-size: 20px;
    display: block;
    
}

#blueDot{
    height:4px;
    width: 4px;
    border-radius: 90px;
    background-color: #5CAAE1;
    position: absolute;
    right:0;
    margin-top: 11px;
    margin-right: 132px;
    display: block;
    
}
/*  Buttons  */
.navbar-nav{
    margin-left: 20px;
}
    
.navbar-nav a{
    margin-top: 10px;
    margin-right: 20px;
    width: 120px;
    height: 40px;
    font-size: 14px;
    border: 4px solid transparent;
    border-radius: 10px;
    -webkit-box-shadow: 5px 4px 3px -1px rgba(92, 170, 225,0.75);
    -moz-box-shadow: 5px 4px 3px -1px rgba(92, 170, 225,0.75);
    box-shadow: 5px 4px 3px -1px rgba(92, 170, 225,0.75);
}    
    
.nav>li>a{
    padding: 9px;
}
    
    
.nav>.active>a, .nav>.active>a:focus, .nav>.active>a:hover {
    margin-top: 16px;
    margin-right: 20px;
}    
    
/*main content*/

#mainContainer{
    margin-top: 230px;
}    
 
    
 /*Home Page*/   
/*jumbotron*/  
.jumbotron a{
    margin-top: 0px;
}
    
    
}

    /********************for Desktops**********************************************************/
@media only screen and (min-width: 1143px) {
    /*Navbar*/
.navbar-header{
    float: left;
    width: 650px;
}

.container-fluid>.navbar-collapse{
    float: none;
}

.navbar-fixed-top {
    height: 140px;
}

#logo{
    margin-left: -60px;
}
    
#title1{

}


/*number*/
#number{
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 55px;
    font-size: 30px;
    display: block;
    
}

#blueDot{
    height:5px;
    width: 5px;
    border-radius: 90px;
    background-color: #5CAAE1;
    position: absolute;
    right:0;
    margin-top: 28px;
    margin-right: 236px;
    display: block;
    
}

/*buttons*/
.navbar-nav{
    margin-top: 55px;
}


.navbar-nav a{
    margin-right: 20px;
    width: 90px;
    height: 50px;
    font-size: 12px;
    border: 4px solid transparent;
    border-radius: 10px;
    -webkit-box-shadow: 5px 4px 3px -1px rgba(92, 170, 225,0.75);
    -moz-box-shadow: 5px 4px 3px -1px rgba(92, 170, 225,0.75);
    box-shadow: 5px 4px 3px -1px rgba(92, 170, 225,0.75);
}
    
.nav>li>a{
    padding: 5px;
    padding-top: 12px;

}
/*buttons hovered*/

.nav > li > a:hover {
    box-shadow: none;
    background-color: #383838;  
    -webkit-box-shadow: 0px 0px 3px -1px rgba(45, 45, 45,0.75);
    -moz-box-shadow: 0px 0px 3px -1px rgba(45, 45, 45,0.75);
    box-shadow: 0px 0px 3px -1px rgba(45, 45, 45,0.75);
    border: solid 4px #5CAAE1;
}

/*buttons when clicked on*/

.nav>.active>a, .nav>.active>a:focus, .nav>.active>a:hover {
    margin-top: 17px;
    margin-right: 20px;
}


/*main content*/

#mainContainer{
    margin-top: 170px;
}

    
    /*******************Contact page************************/

#contactTitle{
    text-align: center;
    margin-top: -10px;
}


.callBox{
    margin: 50px 0;
}

.formBox{
    text-align: center;
}
    
    


.glyphicon{
    position: static;
}

.red{
    color:red;
}
    
    
    
}



